<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password | File Steganography System</title>
</head>
<body>
<form action="change_password" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="text-align: center;">
        <label>you are logged in with username: <b>{{ user.username }}</b></label>
    </div>
    <div style="color: red;">
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script>
            {% endif %}
        {% endfor %}
    </div>
    <div class="card-body pb-2">
        <div class="form-group">
            <label class="form-label">Current password</label>
            <input type="password" name="c_pass" class="form-control" required>
        </div>

        <div class="form-group">
            <label class="form-label">New password</label>
            <input type="password" name="n_pass" class="form-control" required>
        </div>

        <div class="form-group">
            <label class="form-label">Repeat new password</label>
            <input type="password" name="r_pass" class="form-control" required>
        </div>
    </div>
    <input type="submit" name="changepassword" class="btn btn-primary px-4"
           value="Save Changes">
    <br/>
    <br/>
    <br/>
</form>
</body>
</html>