{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Email Sent!</title>
    <link rel="stylesheet" type="text/css" href={% static 'login_register.css' %}>
</head>
<body>
<div class="login-box">
    <h2>Email Sent!</h2>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <h3 style="color: white;text-align: center;">
                    Thank you for using our service!<br/>
                </h3>
                <h4 style="color: white;">
                    We have sent Email to you!<br/>
                    just open a link and it will allow to login to your account.
                    check out spam if you trouble finding mail!
                </h4>
                <th>
                    <div style="text-align: center;">
                        <a style="height: 20px" href="login">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Login Here!
                        </a>
                        &emsp;&emsp;&emsp;&emsp;
                        <label style="color: white;margin:20px;">OR</label>
                        &emsp;&emsp;&emsp;&emsp;
                        <a style="height: 20px;" href="verify_account">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Send Again
                        </a>
                    </div>
                </th>
            </tr>
            <tr>
                <div style="color: red;">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </tr>
        </table>
    </form>
</div>
</body>